.productContainer {
    border: solid 1px #ccc;
	display: flex;
	border-radius: 8px;
	margin: 5px;
}

.productContainerMain {
	display: flex;
	flex-direction: column;
	flex: 1 1 300px;
	padding: 5px;
}

.productData {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 5px;
}

.productData > div {
	flex: 1 1 200px;
}

.categoryList {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
}

.categoryTab {
	display: flex;
	margin: 3px;
	padding: 3px 10px;
	border-radius: 5px;
	border: solid 1px #ccc;
	color: #ccc;
}

.categoryMark {
	margin-right: 5px;
}

.productData {
	text-align: left;
}

.priceData {
	text-align: end;
}

.deleteProduct {
	background-color: #ccc;
	color: #333;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 6px 6px 0;
}

.deleteProduct:hover {
	background-color: #aaa;
}